<div class="d-flex">

    <div class="input-group" style="max-width: 25%;">
        <input type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="999" class="form-control" id="gewicht" name="segewichtt1" placeholder="Kg">
        <div class="input-group-append">
            <span class="input-group-text">Kg</span>
        </div>
    </div>
    <div class="input-group" style="max-width: 75%;">    
        <input type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="99" class="form-control" id="set1" name="set1" placeholder="Set 1">
        <input type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="99" class="form-control" id="set2" name="set2" placeholder="Set 2">
        <input type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="99" class="form-control" id="set3" name="set3" placeholder="Set 3">
    </div>
    
    </div>