<mat-card>
    <!-- <a mat-raised-button color="primary" (click)="goBack()">🠔 Terug naar oefeningen</a>
    <div></div> -->

    <mat-card-header>
        <mat-card-title>{{oefening.naam}}</mat-card-title>
        <mat-card-subtitle><strong>Spiergroep: </strong>{{spiergroepString}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
        {{oefening.omschrijving}}
        </p>

        <app-prestatie-form [oefening]="oefening"></app-prestatie-form>

        <button *ngIf="showOefeningEditButton" mat-raised-button color="primary" (click)="editOefening()">Pas oefening aan</button>
        
        <h3>Vorige prestaties</h3>
        <app-vorige-prestaties [prestatieDagen]="oefening.prestatieDagen"></app-vorige-prestaties>
    </mat-card-content>
</mat-card>
  