.submit-group {
    display: flex;
    justify-content: flex-end;
}

button {
    align-self: flex-end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.kg-container {
    max-width: 45%;
}

.rep-container {
    max-width: 55%;
}