<form (submit)="savePrestatie()" [formGroup]="form">

    <div class="topRow">
        <mat-form-field id="gewichtInput" appearance="fill">
            <mat-label>Gewicht</mat-label>
            <input matInput type="number" placeholder="Bijv. 25" formControlName="gewicht" min="0">
            <span matSuffix>Kg</span>
            <!-- <mat-error *ngIf="waardeControl.invalid">Min size: 0 °C</mat-error>
            <mat-error *ngIf="waardeControl.invalid">{{waardeControl.errors | json}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field id="repsInput" appearance="fill">
            <mat-label>Reps</mat-label>
            <input matInput type="number" placeholder="Bijv. 12" formControlName="herhalingen" min="0">
            <!-- <span matSuffix>{{suffix}}</span> -->
            <!-- <mat-error *ngIf="waardeControl.invalid">Min size: 0 °C</mat-error>
            <mat-error *ngIf="waardeControl.invalid">{{waardeControl.errors | json}}</mat-error> -->
        </mat-form-field>
    
        <mat-form-field id="setsInput" appearance="fill">
            <mat-label>Sets</mat-label>
            <input matInput type="number" placeholder="Bijv. 4" formControlName="sets" min="0">
            <!-- <span matSuffix>{{suffix}}</span> -->
            <!-- <mat-error *ngIf="waardeControl.invalid">Min size: 0 °C</mat-error>
            <mat-error *ngIf="waardeControl.invalid">{{waardeControl.errors | json}}</mat-error> -->
        </mat-form-field>
    </div>
    


    <app-traffic-light-input [redValue]="redValue" [orangeValue]="orangeValue" [greenValue]="greenValue" formControlName="oefeningZwaarte"></app-traffic-light-input>

    

    <mat-form-field id="opmerkingInput" appearance="fill">
        <mat-label>Opmerking (optioneel)</mat-label>
        <textarea matInput placeholder="Opmerking (optioneel)" formControlName="opmerking"></textarea>
    </mat-form-field>

    <!-- <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="left" aria-label="Text align left">
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center" aria-label="Text align center">
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right" aria-label="Text align right">
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group> -->

      

    <div class="submit-group">
        <button mat-raised-button color="accent" type="submit" class="btn btn-primary">Prestatie registreren</button>
    </div>
</form>


