.submit-group {
    display: flex;
    justify-content: flex-end;
}

button {
    align-self: flex-end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


.topRow > mat-form-field {
    flex-grow: 1;
    max-width: 33%;
}

#opmerkingInput {
    display: block;
    width: 100%;
}

.topRow {
    display: flex;
    justify-content: space-between;
}