.kg-container {
    max-width: 31%;
}

.set-container {
    max-width: 69%;
}

.timestamp {
    text-align: end;
    font-size: .75em;
   user-select: none;
}

p {
    font-size: .9em;
}

.opmerking {
    font-size: .75em;
    text-align: start;
    padding: .1rem .75rem;
}

input {
    text-align: end;
    padding: .175rem .75rem;
    font-size: .95em;
    user-select: none;
}

.input-group-text {
    font-size: .75em;
    user-select: none;
}

.flex {
    display: flex;
    /* flex-direction: column; */
}

.flex2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.flex > p {
    margin-right: 2em;
}

.dot {
    height: 1.5em;
    width: 1.5em;
    background-color: #555555;
    border-radius: 50%;
    /* display: inline-block; */
    align-self: center;
    /* flex-direction: column; */
}

.zwaarte-te-licht {
    background-color: #20bf6b;
}

.zwaarte-goed {
    background-color: #fa8231;
}

.zwaarte-te-zwaar {
    background-color: #eb3b5a;
}