<mat-card>
<!-- <div class="d-flex">
    <div class="input-group kg-container">
        <input matInput disabled type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="999" class="form-control" id="gewicht" name="segewichtt1" placeholder="-" [value]="prestatie.gewicht">
        <div class="input-group-append">
            <span class="input-group-text">Kg</span>
        </div>
    </div>
    <div class="input-group set-container">    
        <input disabled type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="99" class="form-control" id="herhalingen" name="herhalingen" placeholder="Herhalingen" [value]="prestatie.herhalingen">
        <div class="input-group-append">
            <span class="input-group-text">Reps</span>
        </div>
    </div>
</div> -->

<!-- <app-number-input label="Gewicht" [waarde]="prestatie.gewicht" suffix="Kg"></app-number-input>
<app-number-input label="Reps" [waarde]="prestatie.herhalingen" suffix="X"></app-number-input> -->

<!-- <p>{{prestatie.gewicht}} Kg -> {{prestatie.herhalingen}} Reps</p> -->

<div class="flex">
    <p *ngIf="prestatie.gewicht">{{prestatie.gewicht}} Kg</p>
    <p *ngIf="prestatie.herhalingen">{{prestatie.herhalingen}} Reps</p>
    <p *ngIf="prestatie.sets">{{prestatie.sets}} Sets</p>
    
    <div class="flex2">
        <div #poep *ngIf="prestatie.oefeningZwaarte" class="dot"></div>
    </div>
    
    <!-- <div #poep class="dot"></div> -->
</div>

<!-- <p *ngIf="oefeningZwaarte"><strong>Zwaarte: </strong>{{oefeningZwaarte}}</p> -->

<!-- <textarea class="form-control">{{prestatie.opmerking}}</textarea> -->
<!-- <input *ngIf="prestatie.opmerking" disabled type="text" [value]="prestatie.opmerking" class="form-control opmerking"> -->
<p *ngIf="prestatie.opmerking"><strong>Opmerking: </strong>{{prestatie.opmerking}}</p>

<div class="timestamp">{{prestatie.datum | date:'HH:mm:ss'}}</div>


<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button> -->

<!-- <p>
    <app-read-more-read-less [text]="prestatie.opmerking"></app-read-more-read-less>
</p> -->

<!-- <p>{{prestatie | json}}</p> -->

</mat-card>