<mat-card>

    <div class="flex">
        <p *ngIf="prestatie.gewicht">{{prestatie.gewicht}} Kg</p>
        <p *ngIf="prestatie.herhalingen">{{prestatie.herhalingen}} Reps</p>
        <p *ngIf="prestatie.sets">{{prestatie.sets}} Sets</p>
        
        <div class="flex2">
            <div #oefeningZwaarteDot *ngIf="prestatie.oefeningZwaarte" class="dot"></div>
        </div>

    </div>

    <p *ngIf="prestatie.opmerking"><strong>Opmerking: </strong>{{prestatie.opmerking}}</p>

    <div class="timestamp">{{prestatie.datum | date:'HH:mm:ss'}}</div>

</mat-card>