.kg-container {
    max-width: 31%;
}

.set-container {
    max-width: 69%;
}

.timestamp {
    text-align: end;
    font-size: .75em;
   user-select: none;
}

p {
    font-size: .9em;
}

.opmerking {
    font-size: .75em;
    text-align: start;
    padding: .1rem .75rem;
}

input {
    text-align: end;
    padding: .175rem .75rem;
    font-size: .95em;
    user-select: none;
}

.input-group-text {
    font-size: .75em;
    user-select: none;
}

.flex {
    display: flex;
}

.flex > p {
    margin-right: 2em;
}