<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Fit 💪</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent"
       [ngClass]="{'show': !isCollapsed}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="showNavOefeningOverzicht" class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="oefeningen">Oefeningen overzicht</a>
      </li>
      <li class="nav-item">
        <a *ngIf="showNavNieuweOefeningToevoegen" class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="nieuwe-oefening">Nieuwe oefening</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!userAuthenticated" class="nav-link hand-cursor" (click)="login()">Log in</a>
      </li>
      <li class="nav-item">
        <a *ngIf="userAuthenticated" class="nav-link hand-cursor" (click)="logout()">Log uit ({{nameOfUser}})</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!userAuthenticated" class="nav-link hand-cursor" (click)="register()">Registreren</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>