<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Fit 💪</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent"
       [ngClass]="{'show': !isCollapsed}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="oefeningen">Oefeningen overzicht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="nieuwe-oefening">Nieuwe oefening</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isUserLoggedIn" class="nav-link hand-cursor" (click)="login()">Log in</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isUserLoggedIn" class="nav-link hand-cursor" (click)="logout()">Log uit</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isUserLoggedIn" class="nav-link hand-cursor" (click)="register">Registreren</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <h1>Presetatie invullen Form</h1>
<app-prestatie-form></app-prestatie-form>

<h1>Nieuwe Oefening Form</h1>
<app-oefening-form></app-oefening-form>

<h1>Oefening kaartje</h1>
<app-oefening></app-oefening> -->

<router-outlet></router-outlet>