.example-spacer {
    flex: 1 1 auto;
}

.brandName {
    padding-right: 32px;
    padding-left: 16px;
    user-select: none;
}

.toolbar-content {
    width: 100%;
}

mat-sidenav-container {
    max-height: calc(100% - 56px);
    height: calc(100% - 56px);
}