<mat-form-field appearance="fill">
    <mat-label>Spiergroep filter</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="spiergroepOnSelectionChanged($event.value)">
      <!-- <mat-option>Alles</mat-option> -->
      <mat-option value="all">Alles</mat-option>
      <mat-option value="0">Armen</mat-option>
      <mat-option value="1">Benen</mat-option>
      <mat-option value="2">Billen</mat-option>
      <mat-option value="3">Borst</mat-option>
      <mat-option value="4">Buik</mat-option>
      <mat-option value="5">Rug</mat-option>
      <mat-option value="6">Schouders</mat-option>
      <mat-option value="uncategorized">Niet ingedeeld</mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- <p>You selected: {{selected}}</p> -->
  

<a *ngFor="let oef of oefeningen" mat-raised-button color="accent" [routerLink]="[oefeningDetailsUrl, oef.id]" router>{{oef.naam}}</a>

<p *ngIf="oefeningen === undefined || oefeningen.length === 0">Er staan nog geen oefeningen in het systeem.</p>