<p>oefening works!</p>


<h2>Benchpress</h2>
<img >

<p>
    <app-read-more-read-less text="asdasads \n \n \n \n \r * hallo asdasddsjf hjkfhekrwjf hkdsjfh sdjkehqukr ehdsf ksdh reiruk GTERKUF FGDKJJ HFDSATHKREDASHJKF SDHJKF DSH HjJK Eah jkdsahjkdhJ HEJFKSHDFJK HJKkjh fkjdsh sdkjakjsdfah ekjwfh kjsdfh kfewhkf shdjf hkj"></app-read-more-read-less>
</p>
<div>
    <label style="width: 25%;">Kg</label>
    <label style="width: 25%;">Set 1</label>
    <label style="width: 25%;">Set 2</label>
    <label style="width: 25%;">Set 3</label>
</div>


<!-- <a class="btn btn-primary" href="#" role="button">Sla op</a> -->


<span class="badge badge-pill badge-primary">Za 22 feb 2020</span>
<app-oefening-prestatie></app-oefening-prestatie>

<span class="badge badge-pill badge-primary">do 20 feb 2020</span>
<app-oefening-prestatie></app-oefening-prestatie>

<a id="laad-meer" class="btn btn-primary" href="#" role="button">Laad meer</a>






<!-- <div style="max-width: 25%;">
    <input type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="999" class="form-control" id="gewicht" name="segewichtt1" placeholder="Kg">
    <div class="input-group-append">
        <span class="input-group-text">Kg</span>
    </div>
</div>
<div style="max-width: 25%;">
   <input type="number" pattern="[0-9]*" min="0" max="99" class="form-control" id="set1" name="set1" placeholder="Set 1">
    <div class="input-group-append">
        <span class="input-group-text">X</span>
    </div> 
</div>
<div style="max-width: 25%;">
    <input type="number" pattern="[0-9]*" min="0" max="99" class="form-control" id="set2" name="set2" placeholder="Set 2">
    <div class="input-group-append">
        <span class="input-group-text">X</span>
    </div>
</div>
<div style="max-width: 25%;">
    <input type="number" pattern="[0-9]*" min="0" max="99" class="form-control" id="set3" name="set3" placeholder="Set 3">
    <div class="input-group-append">
        <span class="input-group-text">X</span>
    </div>
</div> -->