img {
    background-color: red;
    height: 15em;
}

#laad-meer {
    width: 96%;
    margin: 2%;
}

.badge {
    width: 100%;
}

.kg {
    width: 31%;
}

.set {
    width: 23%;
}

/* input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */