<form (submit)="savePrestatie()" [formGroup]="form">
    <div class="d-flex">
        <div class="input-group kg-container">
            <input type="number" inputmode="numeric" pattern="[0-9]*" min="0" max="999" class="form-control" id="gewicht" name="gewicht" placeholder="Kg" formControlName="gewicht">
            <div class="input-group-append">
                <span class="input-group-text">Kg</span>
            </div>
        </div>
        <div class="input-group set-container">    
            <input type="number" inputmode="numeric" pattern="[0-9]*" min="0" max="99" class="form-control" id="herhalingen" name="herhalingen" placeholder="Herhalingen" formControlName="herhalingen">
        </div>
    </div>
    <div class="form-group">
        <textarea class="form-control" id="input-omschrijving" placeholder="Opmerking (optioneel)" formControlName="opmerking"></textarea>
    </div>
    <div class="form-group submit-group">
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </div>
</form>


