<div class="d-flex">
    <div class="input-group kg-container">
        <input disabled type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="999" class="form-control" id="gewicht" name="segewichtt1" placeholder="Kg" [value]="prestatie.gewicht">
        <div class="input-group-append">
            <span class="input-group-text">Kg</span>
        </div>
    </div>
    <div class="input-group set-container">    
        <input disabled type="text" inputmode="numeric" pattern="[0-9]*" min="0" max="99" class="form-control" id="herhalingen" name="herhalingen" placeholder="Herhalingen" [value]="prestatie.herhalingen">
    </div>
</div>
<div class="timestamp">{{prestatie.datum | date:'HH:mm:ss'}}</div>

<p>
    <app-read-more-read-less [text]="prestatie.opmerking"></app-read-more-read-less>
</p>