<div *ngIf="prestatieDagen?.length > 0">
    <label class="kg">Kg</label>
    <label class="set">Set 1</label>
    <label class="set">Set 2</label>
    <label class="set">Set 3</label>
</div>

<app-prestatie-dag *ngFor="let prestatieDag of prestatieDagen" [prestatieDag]="prestatieDag"></app-prestatie-dag>

<a *ngIf="prestatieDagen?.length > 0" id="laad-meer" class="btn btn-primary" href="#" role="button">Laad meer</a>

<p *ngIf="prestatieDagen === undefined || prestatieDagen.length === 0">Deze oefening heb je nog nooit gedaan.</p>