<form (submit)="saveOefening()" [formGroup]="form" id="reactive-form">
    <div class="form-group">
        <label for="input-naam">Naam</label>
        <input type="text" class="form-control" id="input-naam" placeholder="Naam oefening" formControlName="naam">
    </div>
    <div class="form-group">
        <label for="input-omschrijving">Omschrijving</label>
        <textarea class="form-control" id="input-omschrijving" placeholder="Omschrijving oefening (optioneel)" formControlName="omschrijving"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Opslaan</button>
</form>